<h1>Pokedex Home</h1>

All: <%= @all['count'] %>


<h2><%= @pokemon['name'].capitalize %></h2>
<h3><%= @pokemon['id'] %>

<h3>Type:</h3>
<% @pokemon['types'].each do |type| %>
<ul><%= type['type']['name'].capitalize %></ul>
<% end %>

<p>---</p>
<p><img src=<%= @pokemon["sprites"]["front_default"]%>></p>
<p>---</p>
<p><img src=<%= @pokemon["sprites"]["other"]["official-artwork"]["front_default"]%>></p>
<p>---</p>
<h3>Status</h3>

<% @pokemon['stats'].each do |stat| %>
<ul><%= stat['stat']['name'].capitalize %>: <%= stat['base_stat'] %></ul>
<% end %>

<p>---</p>


<h3>Lista de habilidades</h3>
<% @pokemon['moves'].each do |move| %>
<ul><%= move['move']['name'].capitalize %></ul>
<% end %>
